{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
              <div class="govuk-grid-row">


                <!-- <div class="govuk-grid-column-two-thirds"> -->
                  <h1 class="govuk-heading-xl">Health conditions</h1>
                  <p>Standardising the health condition data we collect in the HIG Apply journey.</p>
               

                

                <hr>
                <br>

                  
                    <br>
                  <h2 class="govuk-heading-l">Version 1</h2>
                  <strong class="govuk-tag govuk-tag--green">In progress</strong>
                  <br><br>
                 
                  <h3 class="govuk-heading-s">This design includes:</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Replacing the health conditon free text field with a typeahead component using the RDS list only</li>
                    <li>If the user cannot find their condition in the standardised list, they can use a free text field entry</li>
                    <li>Change and remove pattern from check your answers is as is in live</li>
                    
                  </ul>

                  <div class="govuk-inset-text">
                    <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">View the design documentation (opens in new tab)</a> for a detailed explanation about the design decisions.
                  </div>

                  <a href="health-form/task-list" class="govuk-button govuk-button">View</a>

                  <hr>
                  <br>

              


                </div>

                

              </div>
          </div>

    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
