{% block pageTitle %}
Start
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-in-pip1.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="form" method="post" action="#">
        <h1 class="govuk-heading-xl">
          We need you to confirm your identity
        </h1>

        <p>We will ask you about items you may have, like your:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>UK passport</li>
            <li>UK driving licence</li>
            <li>Payslips or P60</li>
            <li>Self Assessment</li>
            <li>Tax credits (optional Voice ID)</li>
            <li>Credit record</li>
          </ul>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
            </button>

          <p><a href="check-identity-call">I do not have any of these items</a></p>


        </form>
    </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-column-two-thirds -->


{% endblock %}
