{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">


        {% set emailHtml %}
        {{ govukInput({
          id: "interpreter-english",
          name: "interpreter-english",
          type: "english",
          autocomplete: "english",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "English"
          }
        }) }}
        {% endset -%}

        {% set phoneHtml %}
        {{ govukInput({
          id: "interpreter-other",
          name: "interprete-other",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: ""
          }
        }) }}
        {% endset -%}


        {{ govukRadios({
          name: "interpreter-question",
          fieldset: {
            legend: {
              text: "What language do you want us to speak to you in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "English",
              text: "English"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
