{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}





{% block content %}

{% set emailHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "contactByEmail",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Email address"
  }
}) }}
{% endset -%}

{% set phoneHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contactByPhone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Phone number"
  }
}) }}
{% endset -%}

{% set textHtml %}
{{ govukInput({
  id: "contact-by-text",
  name: "contactByText",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Tell us about any other acess needs or adjustments"
  }
}) }}
{% endset -%}

{{ govukCheckboxes({
  name: "contact",
  fieldset: {
    legend: {
      text: "Do you need any adjustments?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all adjustments that are relevant to you"
  },
  items: [
    {
      value: "no",
      text: "No, I do not need any adjustments"
    },
    {
      divider: "or"
    },
    {
      value: "step-free",
      text: "Step-free access, a ramp, lift or ground floor appointment"
    },
    {
      value: "doorway",
      text: "Wide doorway"
    },
    {
      value: "quite",
      text: "Quiet space"
    },
    {
      value: "hearing",
      text: "Hearing or induction loop"
    },
    {
      value: "interpretere",
      text: "British Sign Language interpreter"
    },
    {
      value: "parking",
      text: "Car parking faciilities due to mobility issues"
    },
    {
      value: "toilet",
      text: "Accessible toilet"
    },
    {
      value: "other",
      text: "Other",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

<a href="/v24v2/health-form/task-list" class="govuk-back-link">Back to list</a>


{% endblock %}
