{% block pageTitle %}
Help and contact
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

    <p>Try again later.</p>

    <p>If the problem persists, contact the Department for Work and Pensions.</p>

    <h2 class="govuk-heading-m">Contact DWP</h2>

      <p>Telephone: 0800 121 6279<br>
      Textphone: 0800 121 4493<br>
      <a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
      <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">check you can use the service</a><br>
      Monday to Friday, 9am to 5pm. <br>
      <a href="/call-charges">Find out about call charges</a>

      </p>

    </div> <!-- indent-hairline -->

  </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->
{% endblock %}
