{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v1/includes/layout-agent.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">


      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

<div class="govuk-width-container">
        


          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="XXX" method="post" class="form">

        <p class="govuk-heading-xl govuk-!-margin-bottom-8">My home page</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

                        <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


        

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Processing</h2>

                    <p class="govuk-!-margin-bottom-1">
                      <a class="govuk-body govuk-!-font-size-19" href="task-1-start">Get next task</a>
                  </p>

                  <p class="govuk-!-margin-bottom-1">
                      <a class="govuk-body govuk-!-font-size-19" href="#">View my open tasks</a>
                  </p></div>


                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Search</h2>
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="#">Find someone</a></p>                  </div>

                  

                  <!-- <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Services</h2>
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="#">View all applications</a></p>
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="#">View all in payment</a></p>


                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="#">View service statistics</a></p>
                    <!-- <p class="govuk-!-margin-bottom-6"><a class="govuk-body govuk-!-font-size-19" href="request-access">Request access</a></p> -->

                  </div> 
                </div>





  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->




        </div></div></div></div></form></div></div></main>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
