{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v1/includes/layout-agent.html" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<form action="dwp-task-all-tasks-on-hold" method="post" class="form">
<div class="govuk-width-container">
   <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section class="dwp-quick-reference govuk-!-margin-bottom-8" govuk-!-margin-top-0 aria-label="Case information">
      <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Charlie Murphy</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National
          Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
      </dl>
    </section>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      Explain why you are putting this task on hold
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">
    This will be added to the event history in person record.
  </div>
  <textarea class="govuk-textarea" id="reason-explain" name="reasonExplain" rows="5"></textarea>
</div>

     
    
    </div>
  </fieldset>
</div>





         
       
<button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
</button>


</div>



 
</main>
</form>
</div>

 </div>
</div>
</div>


</div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}