{% extends "layouts/main.html" %}

{% block pageTitle %}
User Research
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">User research</h1>

      <p><a href="/v24/claim-registration/start">User joureny 1</a></p>

      <p><a href="/v23/verify/sign-in/dth">User journey 2</a></p>

      <p><a href="/v23/emails/application-submitted">User journey 3</a></p>

      <p><a href="/v23/emails/application-submitted">User journey 4</a></p>


    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
