{% extends "layouts/main.html" %}

{% block pageTitle %}
User Research
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">User research</h1>

      <p><a href="/v24/claim-registration/start">Claim registration</a></p>

      <p><a href="/v24v1/health-form/task-list?adjustmentsatanassessment-question&interpreter-question&clearstatus=completed">User journey 1</a></p>

      <p><a href="/v24v2/health-form/task-list?adjustmentsatanassessment-question&interpreter-question&clearstatus=completed">User journey 2</a></p>


    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
