{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v3/includes/layout-agent-tasks" %}

{% block beforeContent %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">

        <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">

      <form action="person-record-overview-nil" method="post" class="form">

       <p class="govuk-heading-xl govuk-!-margin-bottom-8">My tasks</p>

      </div>
           <!--      <p class="govuk-body govuk-!-font-size-24" style="margin-bottom: 10px">Name: <b>Heather Murphy</b></p>
                <p class="govuk-body govuk-!-font-size-24" style="margin-bottom: 10px">Date of birth: <b>4 December 1949</b></p>
                <p class="govuk-body govuk-!-font-size-24">National Insurance number: <b>QQ 11 22 33 D</b></p>

<br> -->


<div class="govuk-grid-column-full">

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">


 <button type="submit" class="govuk-button" data-module="govuk-button">
                          Get new task
                        </button>
                                
  

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Open
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
       Closed
      </a>
    </li>  

  </ul>
  <div class="govuk-tabs__panel" id="past-day">

 
<table class="govuk-table">

                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell govuk-15-percent"><b>Type</b></td>
                                      <td class="govuk-table__cell govuk-20-percent"><b>Created</b></td>
                                      <td class="govuk-table__cell govuk-15-percent"><b>National Insurance number</b></td>
                                      <td class="govuk-table__cell govuk-30-percent"><b>Name</b></td>
                                      <td class="govuk-table__cell govuk-35-percent"><b>Status</b></td>
                                      <td class="govuk-table__cell govuk-20-percent"><b></b></td>

                                    </tr>
                                  </thead>




                                <tbody><tr class="govuk-table__row">
                                  <td class="govuk-table__cell table-spacer">Make outbound contact: Help with a decision</td>
                                  <td class="govuk-table__cell table-spacer"> 12 December 2024</td>
                                  <td class="govuk-table__cell table-spacer"> QQ 12 34 56 X</td>
                                  <td class="govuk-table__cell table-spacer">Heather Murphy</td>
                                  <td class="govuk-table__cell table-spacer"><a href=""></a>Allocated</td>
                                  <td class="govuk-table__cell table-spacer"><a href="application-payment-detials-available">Start</a></td>


                                  </tr><tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer">Payment details not available</td>
                                    <td class="govuk-table__cell table-spacer">4 January 2025</td>
                                    <td class="govuk-table__cell table-spacer">NA 11 22 33 C</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Jeff Bridges</td>
                                    <td class="govuk-table__cell table-spacer">On hold</td>
                                    <td class="govuk-table__cell table-spacer"><a href="application-payment-detials-check">Continue</a></td>
                                  </tr>
                                  
                              
                                    

                                </tbody></table>





  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>




                                </p>
                                
                                
                               






                                





                    </div>


                       


        </div>
      </div>
   </main>
      </div>
    </form>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
