{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v1/includes/layout-agent.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

          
      <form action="#" method="post" class="form">
                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
                            <br><br>
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
                                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

                          <h2 class="govuk-heading-xl">Pre-decision application overview</h2>
                            
                          
                          <table class="govuk-table">
                           
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Application submitted</th>
                                  <td class="govuk-table__cell">20 June 2025</td>
                                </tr>
                                 <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Assessment report completed</th>
                                  <td class="govuk-table__cell">24 March 2025</td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Age of applicant</th>
                                  <td class="govuk-table__cell">45</td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Date of birth</th>
                                  <td class="govuk-table__cell">1 January 1980</td>
                                </tr>
                              </tbody>
                            </table>
                      

                          <button type="submit" class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>
<br>                                               <p> <a href="task-1-on-hold-why">I cannot do this task right now</a></p>

                    </div>
                </div>
    </form>
     



{% endblock %}
