{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="health-condition-list-1.html" method="post">




        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">About your health condition or disability</h1>
<br>
        <p class="govuk-body">By condition or disability, we mean physical, sight, hearing or speech difficulties, learning, developmental or behavioural difficulties or mental health conditions.

          <br><br>
          Your condition does not need to be diagnosed by a health care professional.
    

        </p>
<br>
        <a href="health-condition-list-1.html" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
        {% include "./_return-link.html" %}

    </div>
    
    </form>


  </div>
</div>
{% endblock %}
