{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v1/includes/layout-agent.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}




<div class="govuk-width-container">
   <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section class="dwp-quick-reference govuk-!-margin-bottom-8" aria-label="Case information">
      <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Heather Murphy</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National
          Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
      </dl>
    </section>

  </div>

</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="person-record-overview" class="govuk-link"
          rel="noreferrer noopener">Overview</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="person-record-tasks" class="govuk-link"
          rel="noreferrer noopener" target="">Tasks</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="person-record-applications" class="govuk-link"
          rel="noreferrer noopener" target="">Applications and decisions</a></p>

    </div>

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Applications and decisions</h3>


<table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            </tr>

          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row border-bottom-end-clear">
              <td class="govuk-table__header border-bottom-end-clear">Mandatory reconsideration decision</td>
              <td class="govuk-table__cell">Start of application</td>
              <td class="govuk-table__cell">1 January 2025</td>
            </tr>

            <tr class="govuk-table__row border-bottom-end-clear">
              <td class="govuk-table__header border-bottom-end-clear"></td>
              <td class="govuk-table__cell">Status</td>
              <td class="govuk-table__cell">Decision made: In payment</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell border-bottom-end-clear"></td>
              <td class="govuk-table__cell">Outcome</td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Standard</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Nil</p>
              </td>

            </tr><tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-padding-bottom-6">
                <a class="" href="r-ori-dec-overview-nil-becomes-pay" target="">View decision overview </a>
              </td>

              <td class="govuk-table__cell">
            </td></tr>

            </tbody><tbody class="govuk-table__body">
              <tr class="govuk-table__row border-bottom-end-clear">
                <td class="govuk-table__header border-bottom-end-clear">Original decision</td>
                <td class="govuk-table__cell">Start of application</td>
                <td class="govuk-table__cell">1 January 2025</td>
              </tr>

              <tr class="govuk-table__row border-bottom-end-clear">
                <td class="govuk-table__header border-bottom-end-clear"></td>
                <td class="govuk-table__cell">Status</td>
                <td class="govuk-table__cell">Decision made: not awarded</td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell border-bottom-end-clear"></td>
                <td class="govuk-table__cell">Outcome</td>
                <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Nil</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Nil</p>
                </td>

              </tr><tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-!-padding-bottom-6">
                  <a class="" href="r-ori-dec-overview-nil" target="">View decision overview </a>
                </td>

                <td class="govuk-table__cell">
              </td></tr>

            </tbody>
          </table>

          
<a href="person-record-applications-nil">...</a>



  </div>
</div>
</div>
</main>
</div>


</div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}