{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-task/includes/layout-agent.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

          
      <form action="agent-home-1" method="post" class="form">
                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
                            <br><br>
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Peter Ward</h1>
                                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">RN 00 00 02 B</p>

                          <h2 class="govuk-heading-xl">Phone number has been updated</h2>
                              <p>You do not need to do anything else.</p>


                        <button type="submit" class="govuk-button" data-module="govuk-button">
                          Finish
                        </button>

                    </div>
                </div>
    </form>
     



{% endblock %}
