{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-task/includes/layout-agent.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

          
      <form action="task-1-contents" method="post" class="form">
                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
                            <br><br>
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
                                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>

                          <h2 class="govuk-heading-xl">Call the applicant to check what dates they were in hospital </h2>

                              <p>The applicant indicated in their application that they spent time in hospital but did not provide any dates. </p>

                        <button type="submit" class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>

                        <p><a href="#">I cannot do this task</a></p>

                    </div>
                </div>
    </form>
     



{% endblock %}
