{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v1/includes/layout-agent.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">

        <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">

      <form action="person-record-overview-after" method="post" class="form">

        <!-- <p class="govuk-heading-xl govuk-!-margin-bottom-8">One record found</p>


                <p class="govuk-body govuk-!-font-size-24" style="margin-bottom: 10px">Name: <b>Heather Murphy</b></p>
                <p class="govuk-body govuk-!-font-size-24" style="margin-bottom: 10px">Date of birth: <b>4 December 1949</b></p>
                <p class="govuk-body govuk-!-font-size-24">National Insurance number: <b>QQ 11 22 33 D</b></p>

<br> -->

<table class="govuk-table">

  <caption class="govuk-table__caption govuk-table__caption--xl govuk-!-margin-bottom-8">One record found</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">National Insurance number</th>
      
      <td class="govuk-table__cell">QQ 12 34 56 X</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name</th>
      <td class="govuk-table__cell">
          Heather Murphy
        </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of birth</th>
      <td class="govuk-table__cell">4 December 1949</td>
    </tr>
  </tbody>
</table>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is this the right person?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
         No
        </label>
      </div>
      
    </div>
  </fieldset>
</div>


                        <button type="submit" class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>


        </div>
      </div>
   </main>
      </div>
    </form>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
