{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}




{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div style='float:right; width: 180px; text-align: right; padding-top: 15px; '>
</div>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">




          <!-- <div class="govuk-grid-column-two-thirds"> -->
          <h1 class="govuk-heading-xl">Health conditions</h1>
          <p>Standardising the health condition data we collect in the HIG Apply journey.</p>

          <div class="govuk-inset-text">
            <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133943503682/Health+conditions+dataset+-+citizen+facing"
              class="govuk-link" rel="noreferrer noopener" target="_blank">View the design documentation (opens in new
              tab)</a> for a detailed explanation about the design decisions.
          </div>

         <hr>

          <br><br>
          <h2 class="govuk-heading-l">Final design</h2>
          <strong class="govuk-tag govuk-tag--green">Ready to build</strong>
          <br><br>
          <p>No changes were made from iteration 2 option B.</p>
          
          <a href="/v25v6/health-form/task-list" class="govuk-button">View</a>

          <hr>
    


          <br>
          <br>
          <h2 class="govuk-heading-l">Iteration 2</h2>
          <strong class="govuk-tag govuk-tag--blue">Tested - Oct 2025</strong>
          <br><br>

          <h3 class="govuk-heading-s">Changes based on UR findings:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Making the content clearer when telling a user to enter one condition at a time</li>
            <li>Content improvements to tell the user what to do if their condition is undiagnosed</li>
            <li>Most users misunderstood they could enter their condition manually into the same field in iteration 1. This iteration includes additional hint text and change to the drop down design, leaving a gap between the input field and adding the title of 'Suggestions', a pattern used by DofE.</li>
          </ul>

          <h3 class="govuk-heading-s">In this UR round we tested 2 designs:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v25v5/health-form/about-your-health/health-condition-list-1" class="govuk-body">Option A</a> - testing the raw RDS list of health conditions with no changes</li>
            <li><a href="/v25v6/health-form/about-your-health/health-condition-list-1" class="govuk-body">Option B</a> - testing the RDS list of health conditions with content improvements</li>

          </ul>
          <hr>
          

          <br>
          <br>
          <h2 class="govuk-heading-l">Iteration 1</h2>
          <strong class="govuk-tag govuk-tag--blue">Tested - Sep 2025</strong>
          <br><br>  
          <p>All designs in this iteration include replacing the health conditon free text field with a typeahead component and using the RDS list. If the user cannot find their condition in the standardised list, they can enter their condition
              manually in the same field.</p>
          <h3 class="govuk-heading-s">In this UR round we tested 3 designs:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v25v3/health-form/about-your-health/health-condition-list-1" class="govuk-body">Option A</a> - testing the raw RDS list of health conditions with no changes</li>
            <li><a href="/v25v4/health-form/about-your-health/health-condition-list-1" class="govuk-body">Option B</a> - testing the RDS list of health conditions with content improvements</li>
            <li><a href="/v25v4/health-form/about-your-health/health-condition-list-1-pop-up" class="govuk-body">Option C</a> - testing 'pop-up' content to tell a user they can enter their condition manually</li>

          </ul>

          <hr>










        </div>



    </div>
  </div>

</div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}