{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}




{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div style='float:right; width: 180px; text-align: right; padding-top: 15px; '>
</div>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">




          <!-- <div class="govuk-grid-column-two-thirds"> -->
          <h1 class="govuk-heading-xl">Health conditions</h1>
          <p>Standardising the health condition data we collect in the HIG Apply journey.</p>

          <div class="govuk-inset-text">
            <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133943503682/Health+conditions+dataset+-+citizen+facing"
              class="govuk-link" rel="noreferrer noopener" target="_blank">View the design documentation (opens in new
              tab)</a> for a detailed explanation about the design decisions.
          </div>


          <hr>
          <br>
          <br>
          <h2 class="govuk-heading-l">Version 1 - MVP</h2>
          <strong class="govuk-tag govuk-tag--green">In progress</strong>
          <br><br>

          <h3 class="govuk-heading-s">This design includes:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Replacing the health conditon free text field with a typeahead component using the RDS list only</li>
            <li>If the user cannot find their condition in the standardised list, they can enter their condition
              manually in the same field</li>
            <li>Change and remove pattern from check your answers is as is in live</li>

          </ul>


          <a href="health-form/about-your-health/health-condition-list-1" class="govuk-button govuk-button">View</a>

          <hr>


          <br>
          <br>
          <h2 class="govuk-heading-l">Version 2 - Ideal</h2>
          <strong class="govuk-tag govuk-tag--green">In progress</strong>
          <br><br>

          <h3 class="govuk-heading-s">This design includes:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Replacing the health conditon free text field with a typeahead component using the RDS list <b>with
                improved content</b></li>
            <li>If the user cannot find their condition in the standardised list, they can enter their condition
              manually in the same field</li>
            <li>Change and remove pattern from check your answers is as is in live</li>

          </ul>


          <a href="/v25v4/health-form/about-your-health/health-condition-list-1" class="govuk-button govuk-button">View</a>

          <hr>
          <br>
        </div>



    </div>
  </div>

</div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}