{% set pageTitle = "Declaration" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Declaration</h1>

      <p>By sending the application you agree that:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>the information you have given on this form is correct and complete</li>
        <li>you will tell us about changes of circumstances straight away</li>

      </ul>

      <p>If the information you give us is wrong or incomplete, or you do not report changes straight away:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>we may stop or reduce your Personal Independence Payment (PIP)</li>
        <li>you may be paid too much PIP and have to pay this back</li>
        <li>you may have to pay a financial penalty</li>
        <li>we may prosecute you</li>

      </ul>

      <a href="confirmation" class="govuk-button">I agree - send my application</a>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
