{% extends "layout-live-pip2-v1-0.html" %}

{% extends "v24/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "v24/includes/phase-banner.html" %}
  {% include "v24/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "adjustmentsatanassessment-question",
        fieldset: {
          legend: {
            text: "Adjustments at an assessment",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>You might need to attend a health assessment if we need more information from you.</p>

          <p>If you think you will have difficulty accessing an assessment you can ask for adjustments or tell us about your access needs.</p>

          <p class="govuk-body">For example, tell us if you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>cannot get up and down stairs</li>
            <li>have difficulty travelling or using public transport</li>
            <li>need an interpreter, for example British Sign Language</li>
            <li>need help with communicating</li>
            <li>need accessible toilets</li>
          </ul>

          <h2 class="govuk-heading-m">Do you need any adjustments?<h2>
          '
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("adjustmentsatanassessment-question", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("adjustmentsatanassessment-question", "No")
          }
        ]
      }) }}

      <div class="moj-button-action">
        {{ govukButton({
          text: 'Save and continue'
        }) }}
      </div>

      </form>

      {% include "./_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
