{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">


        {% set textHtml %}
        {{ govukTextarea({
          name: "adjustmentsatanassessment-details",
          id: "adjustmentsatanassessment-details",
          rows: "6",
          value: data['adjustmentsatanassessment-details'],
          label: {
            text: "",
            isPageHeading: true,
            classes: "govuk-label--s"
          },
          hint: {
            html: '
            <!-- <p>Tell us anything else you think we should know about how your health condition or disability affects you, that you have not mentioned already.</p> -->
            '
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          name: "contact",
          fieldset: {
            legend: {
              text: "Tell us about your access needs or adjustments",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all adjustments that are relevant to you"
          },
          items: [
            {
              value: "step-free",
              text: "Step-free access, a ramp, lift or ground floor appointment"
            },
            {
              value: "doorway",
              text: "Wide doorway"
            },
            {
              value: "quite",
              text: "Quiet space"
            },
            {
              value: "hearing",
              text: "Hearing or induction loop"
            },
            {
              value: "interpretere",
              text: "British Sign Language interpreter"
            },
            {
              value: "parking",
              text: "Car parking faciilities due to mobility issues"
            },
            {
              value: "toilet",
              text: "Accessible toilet"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
