{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
              <div class="govuk-grid-row">

                <h1 class="govuk-heading-xl">PIP prototypes</h1>

                <!-- <div class="govuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-two-thirds">
  <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-half card-group__item">
                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="index-agent" onclick="showAlert()">Agent prototypes</a>
                    </h2>
                    <p class="govuk-body card__description">Prototypes for the new agent PIP Service.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-half card-group__item">
                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="index-citizen" onclick="showAlert()">Citizen prototypes</a>
                    </h2>
                    <p class="govuk-body card__description">Prototypes for the Apply for PIP application journey.</p>
                </div>
            </li>
         
        </ul>
    </div>
<br>
               

              </div>
          </div>

    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
