{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

          <h1 class="govuk-heading-xl">Agent prototypes</h1>

           <div class="govuk-grid-column-full">
          <hr>

            <!----NEW SECTION---->

          <br><br>


         
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PIP Service future vision
                </h1>
                <p class="govuk-body-m govuk-!-margin-bottom-2">Future vision for Person Record, Telephone claims and tasks (not integrated with DWP Task UI)</p>
              </div>
              
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">Prototype includes:</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>New global navigation to replace agent home</li>
                  <li>'My tasks' open and completed</li>
                 
                </ul>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24"
                    href="/agent-v3/person-record/find-someone">Start prototype</a></p>
                <br>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <strong class="govuk-tag govuk-tag--blue" id="company-information-completed">Mar 2026</strong>
              </div>
            </div>
            <br><br>

            <hr>

          <!----NEW SECTION---->

          <br><br>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Person record</h1>
                <p class="govuk-body-m govuk-!-margin-bottom-2">Mandatory reconsideration has been done</p>
              </div>
              
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">Scenario includes:</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Mandatory reconsideration task has been completed</li>
                  <li>Citizen is now in award</li>
                  <li>Events history has updated</li>
                </ul>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24"
                    href="/agent-v2/after-decision/find-someone">Start prototype</a></p>
                <br>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <strong class="govuk-tag govuk-tag--blue" id="company-information-completed">Mar 2026</strong>
              </div>
            </div>
            <br><br>

            <hr>

          <!----NEW SECTION---->

            <br><br>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Person record</h1>
                <p class="govuk-body-m govuk-!-margin-bottom-2">Picking up a task from the 'Tasks' tab</p>
              </div>

              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">Scenario includes:</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Picking up the 'Prepare an application for a decision' task from the Tasks tab</li>
                  <li>Completing the task (nil award)</li>
                  <li>Decision details update in 'Applications and decisions' tab</li>
                </ul>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24"
                    href="/agent-v2/before-decision/find-someone">Start prototype</a></p>
                <br>
              </div>

              <div class="govuk-grid-column-one-quarter">
                <strong class="govuk-tag govuk-tag--blue" id="company-information-completed">Mar 2026</strong>
              </div>
            </div>

            <br><br>
            <hr>

            <!----NEW SECTION---->

            <br><br>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Agent home</h1>
                <p class="govuk-body-m govuk-!-margin-bottom-2">'Get next task' link</p>
              </div>
              <!-------->
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">Scenario includes:</h3>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">
                  Prototype to test with BAU agents the concept of picking up a tasks from a singular 'Get next task'
                  link from 'My home page'.</p>

                <p class="govuk-!-margin-bottom-2"><a class="govuk-body" href="/agent-v1/agent-home-1">Start prototype
                    for BAU</a></p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body" href="/agent-v1/agent-home-3">Start prototype
                    for TyTaf</a></p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <strong class="govuk-tag govuk-tag--blue" id="company-information-completed">Feb 2026</strong>
              </div>
            </div>
            <br><br>
            <hr>

          </div>

        </div>
    </div>

  </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}