{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Tell us how your health condition or disability affects you</h1>

      <h2 class="govuk-heading-m">Tell us about your health</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "About your health"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "About your health or care professionals"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Tell us about your daily living activities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Preparing food"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Eating and drinking"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Managing treatments"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Name of seventh task"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Name of eighth task"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "#" }) }}
      </div>

    </div>
  </div>
{% endblock %}
