{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "v23/includes/email.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<dl class="govuk-summary-list email-message-meta">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      From
    </dt>
    <dd class="govuk-summary-list__value">
      DWP Health PDU
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      To
    </dt>
    <dd class="govuk-summary-list__value">
      <span class="placeholder-no-brackets">email address</span>
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Subject
    </dt>
    <dd class="govuk-summary-list__value">
      Personal Independence Payment: We have received your information
    </dd>

  </div>


    </dl>


      <p>This is an automatic reply email. Thank you for sending information about how your disability affects you.</p>

      <p>We will send your information to a health professional to consider before we make our decision. If we need more information about how your health condition or disability affects your daily life we may invite you to attend an assessment.</p>


      <h2 class="govuk-heading-l" style="margin-bottom: 40px;">
        Have you confirmed your identity?
      </h2>

      <p>You need to confirm your identity as soon as possible. We check everyone’s identity to protect from fraud.</p>

      <p>We cannot assess your application until you confirm your identity.</p>

      <p>To confirm your identity, sign in to Apply for PIP. Go to: <a href="/v23/verify/sign-in/dth">http://www.apply-for-pip.dwp.gov.uk/verify/your-details</a></p>


      <h2 class="govuk-heading-l" style="margin-bottom: 40px;">
        If you have uploaded any supporting evidence
      </h2>

      <p>We will include this in your claim to PIP and will consider this before we make our decision.</p>


      <h2 class="govuk-heading-l" style="margin-bottom: 40px;">
        If you need to upload more supporting evidence
      </h2>

      <p>If you need to upload any more evidence that might support your application you will need to sign in again. Go to: <a href="/v23/verify/sign-in/dth">http://www.apply-for-pip.dwp.gov.uk/verify/your-details</a></p>

      <p>You might find it useful to bookmark the sign in page in your internet browser or keep this email.</p>

      <p>You will need your email address, mobile phone and password to sign in.</p>

      <p>You will not need to answer the questions about your daily living activities or mobility again.</p>


      <h2 class="govuk-heading-l" style="margin-bottom: 40px;">
        Other things you need to tell us about, or if you need help
      </h2>

      <p>Contact the Department for Work and Pensions (DWP) if:</p>

      <p class="govuk-body">You can buy:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>any information you gave us changes</li>
        <li>you have not given us your bank, building society or credit union account details</li>
        <li>you want to withdraw your consent for your health and care professionals to share information about you with DWP</li>
        <li>you want to withdraw your consent for the Motability Scheme to send you information</li>
        <li>you do not want to continue with your PIP claim</li>
      </ul>


      <h2 class="govuk-heading-l" style="margin-bottom: 40px;">
        Contact DWP
      </h2>

      <div class="govuk-inset-text">
        <p>Telephone: 0800 121 6279</p>
        <p>Textphone: 0800 121 4493 if you have speech or hearing difficulties</p>
        <p>Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 6279</p>
        <p><a href="#">https://www.relayuk.bt.com</a></p>
        <p>Video relay service for British Sign Language (BSL) users:<br> <a href="#">https://connect.interpreterslive.co.uk/vrs?ilc=DWP</a></p>
        <p>Check you can use the video relay service:<br> <a href="#">https://www.youtube.com/watch?v=oELNMfAvDxw</a></p>
        <p>Open 9am to 5pm, Monday to Friday</p>
      </div>


      <p>Please do not reply to this message. Any email sent in response will be deleted without being read. DWP will never ask you to send any usernames, passwords, personal, health/medical or bank account information via email.</p>

      <p>Yours sincerely</p>

      <p>Office manager</p>


{#       {% include "live-pip2-v1-0/_prototype-shortcuts.html" %} #}

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
